# Binaries
*.pyc
*.pyo
/build/
/dist/
/lint/
/koschei.egg-info/
/koschei-*.tar.gz

# Non-volatile test resources
/test/db/
/test/kdc/

# Emacs
*~

# PyCharm
/.idea/

# PyDev
/*.pydevproject
/.project
/.classpath
/.settings/
/.metadata/
