<html>
<head>
<title>Koschei report</title>
<link rel="stylesheet" type="text/css" href="report-templates/report.css"/>
<script type="text/javascript">
function toggle_visibility(id) {
    element = document.getElementById(id);
    if (element.style.display === "none") {
        element.style.display = "block";
    } else {
        element.style.display = "none";
    }
}
</script>
</head>
<body>
<h1>Koschei report</h1>
<h3>Continuous integration for Fedora packages</h3>
<div>Package rebuilds
    {% if since.year > 2000 %}since {{ since|date }}{% endif %}
    until {{ until|date }}</div>
{% for package in packages %}
<div class="package">
    <div class="package_header">
        <span class="package_name">{{ package.name }}</span>
        <span class="priority">
            {% for name, priority in priorities %}
            {{ name }}: {{ (priority[package.id] or 0)|int }}
            {% endfor %}
        </span>
    </div>
<table>
    {% set builds = package.get_builds_in_interval(since=since, until=until).all() %}
    {% if builds %}
    <tr>
        <th colspan="2">Build task</th>
        <th>Build logs</th>
        <th>Buildroot differences</th>
        <th>Started</th>
        <th>Triggered by</th>
    </tr>
    {% for i in range(builds | length) %}
    {% set build = builds[i] %}
    <tr class="{% if loop.index % 2 %}odd{% else %}even{% endif %}">
        <td class="state-{{ build.state_string }}">
            {{ build.state_string }}
        </td>
        <td class="state-{{ build.state_string }}">
            <a href="{{ koji_weburl }}/taskinfo?taskID={{ build.task_id }}">
                {{ build.task_id }}
            </a>
        </td>
        <td>
            {% if build.logs_downloaded %}
            <a href="{{ log_dir }}/{{ build.id }}/">build logs</a>
            {% endif %}
        </td>
        <td>
            {% if build.id in root_diffs %}
            {% for arch, path in root_diffs[build.id].items() %}
            <a href="{{ path }}">{{ arch }}</a>
            {% endfor %}
            {% endif %}
        <td>
            {{ build.started | date }}
        </td>
        <td class="last">
            {% for change in build.triggers %}
                {{ change }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="no-builds"><td>No builds in given interval</td></tr>
    {% endif %}
</table>
</div>
{% endfor %}
</body>
</html>
