{% extends "base.html" %}
{% block content %}
<div class="pageHeader">{{ build.package.name }} - {{ build.task_id }}</div>
<table>
    <tr>
      <th>Status</th>
      <td><img src="static/images/{{ build.state_string }}.png"/></td>
    </tr>
    <tr>
      <th>Koji task</th>
      <td>
          <a href="{{ koji_weburl }}/taskinfo?taskID={{ build.task_id }}">
              {{ build.task_id }}
          </a>
      </td>
    </tr>
    {% for arch, diff in build.buildroot_diff_per_arch %}
    <tr>
        <th>Buildroot differences for {{ arch }}</th>
        <td style="width: 80%">
            <table class="nested">
                {% for added, removed in diff.zipped_diff %}
                <tr>
                    <td>
                        {% if added %}
                        +{{ added }}
                        {% endif %}
                    </td>
                    <td>
                        {% if removed %}
                        -{{ removed }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
