{% extends "base.html" %}
{% block statusline %}
Package rebuilds {% if since.year > 2000 %}since {{ since|date }}{% endif %} until {{ until|date }}
{% endblock %}
{% block content %}
  <div class="pageHeader">Package summary</div>
  <div class="dataHeader noPaginate" id="buildlist">All packages</div>
  <table class="data-list">
    <tr class="list-header">
      <th>Name <img src="http://koji.fedoraproject.org/koji-static/images/gray-triangle-down.gif" class="sort" alt="descending sort"/></th>
      <th>State</th>
      <th>Task ID</th>
      <th>Build Logs</th>
      <th>Started</th>
    </tr>

    {% for package in packages %}
    {% set last_build = package.last_build %}

    <tr class="row-odd">
      <td><a href="package/{{ package.name }}.html">{{ package.name }}</a></td>
      <td class="{{ build.koji_ui_state }}">
          <img class="stateimg"
               src="http://koji.fedoraproject.org/koji-static/images/{{ build.koji_ui_state }}.png"
               title="{{ build.state_string }}" alt="{{ build.state_string }}"/>
      </td>
      <td><a href="{{ koji_weburl }}/taskinfo?taskID={{ last_build.task_id }}">{{ last_build.task_id }}</a></td>
      <td>{% if last_build.logs_downloaded %}<a href="{{ log_dir }}/{{ last_build.id }}/">build logs</a>{% endif %}</td>
      <td>{{ last_build.started | date }}</td>
    </tr>

    {% endfor %}

  </table>
{% endblock %}
