{% extends "base.html" %}
{% block tab_id %}packages{% endblock %}
{% block content %}
<div class="pageHeader">{{ group.name }}</div>
<table class="nested data-list">
    <tr class="list-header">
      <th>Name <img src="http://koji.fedoraproject.org/koji-static/images/gray-triangle-down.gif" class="sort" alt="descending sort"/></th>
      <th>State</th>
      <th>Task ID</th>
      <th>Started</th>
    </tr>
    {% for package in group.packages %}
    {% set last_build = package.last_build %}

    <tr class="row-odd">
      <td><a href="package/{{ package.name }}.html">{{ package.name }}</a></td>
      <td class="{{ last_build.koji_ui_state }}">
          {{ package.state_string }}
      </td>
      {% if package.state_string != 'unresolved' %}
      <td><a href="{{ koji_weburl }}/taskinfo?taskID={{ last_build.task_id }}">{{ last_build.task_id }}</a></td>
      <td>{{ last_build.started | date }}</td>
      {% else %}
      <td colspan="2"/>
      {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}


