<html>
<head>
<title>Koschei report</title>
<link rel="stylesheet" type="text/css" href="report-templates/report.css"/>
</head>
<body>
<h1>Koschei report</h1>
<h3>Continuous integration for Fedora packages</h3>
<h2>Package overview</h2>
<table>
    {% for package in packages %}
    {% set last_build = package.last_build %}
    {% set last_successful = package.last_successful_build %}
    <tr class="package_line">
        <td class="package_name" colspan="2">{{ package.name }}</td>
    </tr>
    <tr class="build_line">
        <td>Last build:</td>
        <td class="state-{{ last_build.state_string }}">
            {{ last_build.state_string }}
        </td>
        <td class="state-{{ last_build.state_string }}">
            <a href="{{ koji_weburl }}/taskinfo?taskID={{ last_build.task_id }}">
                {{ last_build.task_id }}
            </a>
        </td>
        <td>{{ last_build.started | date }}</td>
        <td class="last">
            {% if last_build.triggers %}
            Triggered by:
            {% for change in last_build.triggers %}
                {{ change }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            {% endif %}
        </td>
    </tr>
    {% if last_build != last_successful %}
    <tr>
        <tr class="build_line">
            <td>Last succesful build:</td>
            <td class="state-{{ last_successful.state_string }}">
                {{ last_successful.state_string }}
            </td>
            <td class="state-{{ last_successful.state_string }}">
                <a href="{{ koji_weburl }}/taskinfo?taskID={{ last_successful.task_id }}">
                    {{ last_successful.task_id }}
                </a>
            </td>
            <td>{{ last_successful.started | date }}</td>
            <td class="last">
                Triggered by:
                {% for change in last_successful.triggers %}
                    {{ change }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    </tr>
    {% endif %}
    {% endfor %}
</table>
</div>
</body>
</html>
