body {
    font-family: Helvetica;
}
h2 {
    font-size: 18px;
}
th, td {
    white-space: nowrap;
    width: 1%;
    padding: 5px 10px;
}
td.last {
    width: 100%;
}
th {
    padding: 4px 10px;
    background-color: #f0f0f0;
}
table {
    margin: 10px 50px;
    margin-top: 0px;
    margin-bottom: 15px;
    border-collapse: collapse;
    border: 1px solid #edf3fe;
    font-size: 14px;
}
.package_header {
    color: f0f0ff;
    background-color: #34548F;
    padding: 5px;
    padding-left: 20px;
    margin: 10px;
    margin-bottom: 0px;
}
.package_name {
    font-weight: Bold;
    font-size: 20px;
}
.priority {
    float: right;
    margin-right: 30px;
}
.no-builds {
    background-color: LightBlue;
    color: DarkBlue;
}

.state-complete {
    color: Green;
}

.state-failed {
    color: Red;
}

.state-canceled {
    color: Yellow;
}
.state-running {
    color: Blue;
}
.even {
    background-color: #edf3fe;
}
.odd {
    background-color: #fff;
}
