[Unit]
Description=Koschei - Fedora Continuous Integration - dependency resolver
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/share/koschei/bin/koschei-resolver -m koschei.main resolver
User=koschei
Group=koschei
Nice=5

[Install]
WantedBy=multi-user.target
