[Unit]
Description=Koschei - Fedora Continuous Integration - build scheduler
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/libexec/koschei/koschei-scheduler -m koschei.main scheduler
User=koschei
Group=koschei
Restart=on-failure

[Install]
WantedBy=multi-user.target
