[Unit]
Description=Koschei - Fedora Continuous Integration - fedmsg watcher
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/libexec/koschei/koschei-watcher -m koschei.main watcher
User=koschei
Group=koschei
WatchdogSec=600
Restart=on-failure

[Install]
WantedBy=multi-user.target
