[Unit]
Description=Koschei - Fedora Continuous Integration - report generator
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python -m koschei.reporter
User=koschei
Group=koschei

[Install]
WantedBy=multi-user.target
