[Unit]
Description=Koschei - Fedora Continuous Integration - Koji polling
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/libexec/koschei/koschei-polling -m koschei.main polling
User=koschei
Group=koschei

[Install]
WantedBy=multi-user.target
