[Unit]
Description=Koschei - Fedora Continuous Integration - Koji polling
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/libexec/koschei/koschei-polling -m koschei.backend.main polling
User=koschei
Group=koschei
Restart=on-failure

[Install]
WantedBy=multi-user.target
