[Unit]
Description=Koschei - Fedora Continuous Integration - copr dependency resolver
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/libexec/koschei/koschei-copr-resolver -m koschei.backend.main copr_resolver
User=koschei
Group=koschei
Nice=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
