[Unit]
Description=Koschei - Fedora Continuous Integration - log downloader
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python -m koschei.main log_downloader
User=koschei
Group=koschei

[Install]
WantedBy=multi-user.target
