{% extends "base.html" %}
{% block content %}
<form name="packages" method="post">
    {{ form.csrf_token }}
    <div>Names of packages to be added to Koschei:</div>
    <div><textarea name="packages" rows="20" cols="80"></textarea></div>
    <div>
        <label for="collection">Package collection:</label>
        <select name="collection">
            {% for collection in g.collections %}
            <option value="{{ collection.name }}">{{ collection }}</option>
            {% endfor %}
        </select>
        <label for="group">Package group (optional):</label>
        <select name="group">
            <option></option>
            {% for group in g.user.groups %}
            <option>{{ group.full_name }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
    <div><button type="submit">Add packages</button></div>
</form>
{% endblock content %}
