{% extends "base.html" %}
{% block content %}
<form name="packages" action="" method="POST">
    <div>Names of packages to be added to Koschei:</div>
    <div><textarea name="names" rows="20" cols="80"></textarea></div>
    <div>
        <label for"group">Pacakge group (optional):</label>
        <select name="group">
            <option></option>
            {% for group in all_groups %}
            <option>{{ group.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div><button type="submit"/>Add packages</button></div>
</form>
{% endblock content %}
