{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}Koschei - {{ dep_name }} change report{% endblock %}
{% block content %}
<div class="pageHeader">
    Packages which started to fail after
    {{ dep_name }} {{ 'upgrade' if evr1 < evr2 else 'downgrade' }}
    from {{ evr1 }} to {{ evr2 }}
</div>
<table class="data-list">
    <tr class="list-header">
        <th>Package</th>
        <th>Package current state</th>
        <th>Build link</th>
        <th colspan="4">Dependency change</th>
        <th>Dependency graph distance</th>
    </tr>
    {% for row in failed %}
    <tr class="row-odd">
        {# TODO collection #}
        <td><a href="{{ url_for('package_detail', name=row.package_name) }}?collection={{ collection.name }}">{{ row.package_name }}</a></td>
        <td>{{ package_state_icon(package_state(row)) }}</td>
        <td><a href="{{ url_for('build_detail', build_id=row.build_id) }}">build</a></td>
        {{ row | format_depchange | columnize() }}
        <td>{{ row.distance }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
