{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}
<div class="pageHeader">{{ build.package.name }} - {{ build.task_id }}</div>
  <table class="data-list">
    <tr>
      <th>Status</th>
      <td><div class="hidden">{{ build.state_string }}</div>
          <img src="{{ url_for('static', filename='images/' ~ build.state_string ~ '.png') }}"
               title="{{ build.state_string }}" alt="{{ build.state_string }}"/></td>
    </tr>
  </table>

  <table class="data-list">
    <thead>
    <tr>
      <th>Koji task</th>
      <td>
          <a href="{{ koji_weburl }}/taskinfo?taskID={{ build.task_id }}">
              {{ build.task_id }}
          </a>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Dependency changes compared to previous build</th>
        <td style="width: 80%">
            {{ macros.depchange_table(build.dependency_changes) }}
        </td>
    </tr>
    </tbody>
  </table>
{% endblock %}
