{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Koschei - {{ build.package.name }} - build {{ build.task_id }}{% endblock %}

{% block subheader %}
<h2>Build details</h2>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <div class="card mb-3">
      <div class="card-block">
        <h3 class="card-title">Build information</h3>
        <div class="row">
          <div class="col-sm-4">State</div>
          <div class="col-sm-8">{{ build.state_icon }} {{ build.state_string }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Name</div>
          <div class="col-sm-8">{{ build.package.name }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Epoch</div>
          <div class="col-sm-8">{{ build.epoch }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Version</div>
          <div class="col-sm-8">{{ build.version }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Release</div>
          <div class="col-sm-8">{{ build.release }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Started</div>
          <div class="col-sm-8">{{ build.started|date }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Finished</div>
          <div class="col-sm-8">{{ build.finished|date }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Koji repo</div>
          <div class="col-sm-8">{{ build.repo_id }}</div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-block">
	<h3 class="card-title">Koji tasks</h3>
	<form action="{{ url_for('cancel_build', build_id=build.id) }}" method="post">
          {{ cancel_form.csrf_token }}
	  {{ macros.task_tree(build, show_cancel_btn=(build.state == build.RUNNING and g.user.admin)) }}
	</form>
      </div>
    </div>
    {% if build.build_arch_tasks|length > 0 %}
    <div class="card mb-3">
      <div class="card-block">
	<h3 class="card-title">Build logs</h3>
	{% for subtask in build.build_arch_tasks %}
	<div class="row">
	  <div class="col-sm-3">
	    {{ subtask.arch }}
	  </div>
	  <div class="col-sm-9">
	    <a href="{{ subtask.results_url }}/build.log">build.log</a> |
	    <a href="{{ subtask.results_url }}/root.log">root.log</a>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-sm-8">
    <div class="card mb-3">
      <div class="card-block">
	<h3 class="card-title">Dependency changes from previous build</h3>
	{% if build.deps_resolved %}
	{{ macros.depchange_table(build.dependency_changes) }}
	{% else %}
	{% if build.deps_resolved is sameas False %}
	<div>Dependencies for this build could not be processed.</div>
	{% else %}
	<div>Dependencies for this build were not processed yet.</div>
	{% endif %}
	{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
