{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}Koschei - {{ build.package.name }} - build {{ build.task_id }}{% endblock %}
{% block content %}
{% set editable = "" if g.user else 'disabled="true"' %}
<div class="pageHeader">{{ build.package.name }} - {{ build.task_id }}</div>

<table class="details">
    <tr>
        <th>Status</th>
        <td>
            <img src="{{ url_for('static', filename='images/' ~ build.state_string ~ '.png') }}"
            title="{{ build.state_string }}" alt="{{ build.state_string }}"/>
            {{ build.state_string }}
        </td>
        {% if build.state == build.RUNNING and g.user.admin %}
        <td>
            <form action="{{ url_for('cancel_build', build_id=build.id) }}" method="post">
                {{ cancel_form.csrf_token }}
                <button {{ editable }} type="submit">Cancel build</button>
            </form>
        </td>
        {% endif %}
    </tr>
    <tr>
        <th>Epoch</th>
        <td>
            {{ build.epoch }}
        </td>
    </tr>
    <tr>
        <th>Version</th>
        <td>
            {{ build.version }}
        </td>
    </tr>
    <tr>
        <th>Release</th>
        <td>
            {{ build.release }}
        </td>
    </tr>
    <tr>
        <th>Started</th>
        <td>
            {{ build.started | date}}
        </td>
    </tr>
    <tr>
        <th>Finished</th>
        <td>
            {{ build.finished | date }}
        </td>
    </tr>
    <tr>
        <th>Repo ID</th>
        <td>
            {{ build.repo_id }}
        </td>
    </tr>
    <tr>
        <th>Koji tasks</th>
        <td>
            <a href="{{ build.taskinfo_url }}">
                {{ build.task_id }}
            </a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <table>
                {% for subtask in build.build_arch_tasks %}
                <tr>
                    <td class="task{{ subtask.state_string }}">
                        {{ "├└"[loop.last] }}
                        <a href="{{ subtask.taskinfo_url }}">
                            {{ subtask.task_id }}
                        </a>
                        {{ subtask.arch }}: {{ subtask.state_string }}
                    </td>
                    <td>(
                        <a href="{{ subtask.results_url }}/build.log">
                            build.log
                        </a>
                        <a href="{{ subtask.results_url }}/root.log">
                            root.log
                        </a>
                        )</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        {% if build.deps_processed %}
        {{ macros.depchange_table(build.dependency_changes) }}
        {% else %}
        <th></th>
        {% if build.deps_processed %}
        <td colspan="4">Dependencies for this build couldn't be processed</td>
        {% else %}
        <td>Dependencies for this build weren't processed yet</td>
        {% endif %}
        {% endif %}
    </tr>
</table>
{% endblock %}
