{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Koschei - {{ collection.display_name }}{% endblock %}

{% block subheader %}
<h2>{{ collection.display_name }}</h2>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-block">
        <h3 class="card-title">Collection information</h3>
        <div class="row">
          <div class="col-sm-8">Internal name</div>
          <div class="col-sm-4">{{ collection.name }}</div>
        </div>
        <div class="row">
          <div class="col-sm-8">Display name</div>
          <div class="col-sm-4">{{ collection.display_name }}</div>
        </div>
        <div class="row">
          <div class="col-sm-8">Display order</div>
          <div class="col-sm-4">{{ collection.order }}</div>
        </div>
        <div class="row">
          <div class="col-sm-8">Priority coefficient</div>
          <div class="col-sm-4">{{ collection.priority_coefficient }}</div>
        </div>
        <div class="row">
          <div class="col-sm-8">Koji target</div>
          <div class="col-sm-4">{{ collection.target }}</div>
        </div>
        <div class="row">
          <div class="col-sm-8">Koji build group</div>
          <div class="col-sm-4">{{ collection.build_group }}</div>
        </div>
        <div class="row">
          <div class="col-sm-8">Bugzilla product</div>
          <div class="col-sm-4">{{ collection.bugzilla_product }}</div>
        </div>
        <div class="row">
          <div class="col-sm-8">Bugzilla product version</div>
          <div class="col-sm-4">{{ collection.bugzilla_version }}</div>
        </div>
        <div class="row">
          <div class="col-sm-8">Poll untracked</div>
          <div class="col-sm-4">{{ collection.poll_untracked }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
