{% extends "base.html" %}

{% block subheader %}
<h2>Confirm group deletion</h2>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6 offset-3">
    Group <strong>{{ group.name }}</strong> will be <strong>deleted</strong>. Are you sure?
    <form method="post" action="{{ url_for('delete_group', name=group.name, namespace=group.namespace) }}">
      {{ form.csrf_token }}
      <div class="row mt-3">
	<button type="submit" class="btn btn-danger col-sm-6">Yes, delete this group</button>
	<a class="btn btn-secondary col-sm-6" href="{{ url_for('edit_group', name=group.name, namespace=group.namespace) }}">No, take me back</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
