{% extends "base.html" %}
{% block content %}
{% if group %}
<div class="pageHeader">Editing group: {{ group.name }}</div>
{% else %}
<div class="pageHeader">Create new group</div>
{% endif %}
<form method="post" name="edit_group">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td><label for="name">Name: </label></td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td><label for="name">Group maintainers: </label></td>
            <td>{{ form.owners }}</td>
        </tr>
    </table>
    <div>Packages in group:</div>
    <div>
        {{ form.packages(rows=20, cols=80) }}
    </div>
    <div><button type="submit">{% if group %}Update{% else %}Create{% endif %}</button></div>
</form>
{% if group %}
<form method="POST" action="{{ url_for('delete_group', name=group.name, namespace=group.namespace) }}">
    {{ form.csrf_token }}
    <div><button type="submit">Delete group</button></div>
</form>
{% endif %}

{% endblock %}
