{% extends "base.html" %}
{% block content %}
{% if group %}
<div class="pageHeader">Editing group: {{ group.name }}</div>
{% else %}
<div class="pageHeader">Create new group</div>
{% endif %}
<form method="post" name="edit_group">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td><label for="name">Name: </label></td>
            <td><input type="text" name="name"{% if group %} value="{{ group.name }}"{% endif %}/></td>
        </tr>
        <tr>
            <td><label for="name">Group maintainers: </label></td>
            <td><input type="text" name="owners"{% if group %} value="{{ group.owners_list }}"{% endif %}/></td>
        </tr>
    </table>
    <div>Packages in group:</div>
    <div>
        {# Has to be on one line to not add whitespace #}
        <textarea name="packages" rows="20" cols="80">{% if group %}{% for pkg in group.packages %}{{ pkg.name }}{{ '\n' }}{% endfor %}{% endif %}</textarea>
    </div>
    <div><button type="submit"/>{% if group %}Update{% else %}Create{% endif %}</button></div>
</form>
{% if group %}
<form action="{{ url_for('delete_group', name=group.name, namespace=group.namespace) }}">
    <div><button type="submit"/>Delete group</button></div>
</form>
{% endif %}

{% endblock %}
