{% extends "base.html" %}
{% macro render_groups(groups) %}
<table class="data-list">
    <thead>
    <tr class="list-header">
        <th>Group</th>
        <th>Number of packages</th>
    </tr>
    </thead>
    <tbody>
    {% for group in groups %}
    <tr class="row-odd">
        <td>
            <a href="{{ url_for('group_detail', name=group.name, namespace=group.namespace) }}">{{ group.name }}</a>
        </td>
        <td>
            {{ group.package_count }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}
{% block content %}
{% if users_groups %}
<div>
    <div class="pageHeader">Your groups</div>
    {{ render_groups(users_groups) }}
    {% endif %}
</div>
<form method="GET" action="{{ url_for('add_group') }}">
    <button type="submit" {{ require_login() }}>Create new group</button>
</form>
<div>
    <div class="pageHeader">Global groups</div>
    {{ render_groups(groups) }}
</div>
{% endblock %}

