{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}Koschei - {{ group.full_name }} group{% endblock %}
{% block content %}
<div class="pageHeader">{{ group.full_name }}</div>
<table class="details">
    <tr>
        <th>Group maintainers:</th>
        <td>{{ group.owners_list }}</td>
    </tr>
</table>
{{ macros.package_table(packages, page, order, collection=collection) }}
{% if group.editable %}
<div>
    <form method="get" action="{{ url_for('edit_group', name=group.name, namespace=group.namespace) }}">
        <button type="submit">Edit group</button>
    </form>
</div>
{% endif %}
{% endblock %}
