{% extends "base.html" %}

{% macro collection_row(collection) %}
<div class="list-group-item">
  <div class="d-flex w-100 justify-content-start">
    <a href="{{ url_for('package_list') }}?collection={{ collection.name }}">{{ collection }}</a>
    <div class="ml-auto">
      <a class="btn btn-secondary btn-sm" href="{{ url_for('collection_detail', name=collection.name) }}">
        <i class="fa fa-cog"></i>
      </a>
    </div>
  </div>
</div>
{% endmacro %}

{% block subheader %}
<h2>Collections</h2>
{% endblock %}

{% block content %}
<div class="row">
{% for group in groups %}
<div class="col-sm-3">
<div class="card">
  <div class="card-header">
    <a href="{{ url_for('package_list') }}?collection={{ group.collections | map(attribute='name') | join(',') }}">{{ group }}</a>
    <span class="badge badge-pill badge-default">{{ group.collections|length }}</span>
  </div>
  <div class="list-group list-group-flush">
    {% for collection in group.collections %}
    {{ collection_row(collection) }}
    {% endfor %}
  </div>
</div>
</div>
{% endfor %}
{% if uncategorized %}
<div class="col-sm-3">
<div class="card">
  <div class="card-header">
    Uncategorized <span class="badge badge-pill badge-default">{{ uncategorized|length }}</span>
  </div>
  <div class="list-group list-group-flush">
    {% for collection in uncategorized %}
    {{ collection_row(collection) }}
    {% endfor %}
  </div>
</div>
</div>
{% endif %}
</div>
{% endblock %}
