{% extends "base.html" %}
{% macro collection_row(collection) %}
<tr>
    <td>
        {{ collection }}
    </td>
    <td>
        <a href="{{ url_for('package_list') }}?collection={{ collection.name }}">
            Packages
        </a>
    </td>
    <td>
        <a href="{{ url_for('collection_detail', name=collection.name) }}">
            Collection configuration
        </a>
    </td>
</tr>
{% endmacro %}
{% block content %}
<div>
    <div class="pageHeader">All collections</div>
    <table class="data-list">
        {% for group in groups %}
            <tr class="list-header">
                <th>
                    {{ group }}
                </th>
                <th colspan="2">
                    <a href="{{ url_for('package_list') }}?collection={{
                        group.collections | map(attribute='name') | join(',') }}">
                        Packages
                    </a>
                </th>
            </tr>
            {% for collection in group.collections %}
            {{ collection_row(collection) }}
            {% endfor %}
        {% endfor %}
        {% if uncategorized %}
            <tr class="list-header">
                <th colspan="3">Uncategorized</th>
            </tr>
            {% for collection in uncategorized %}
            {{ collection_row(collection) }}
            {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}
