{% extends "base.html" %}

{% macro render_groups(title, icon, groups, user) %}
<div class="card">
  <div class="card-header">
    <i class="fa fa-{{ icon }}"></i>
    {{ title }} <span class="badge badge-pill badge-default">{{ groups|length }}</span>
    {% if user %}
    <div class="float-right">
      <a class="btn btn-secondary btn-sm" href="{{ url_for('add_group') }}">
        <i class="fa fa-plus"></i>
      </a>
    </div>
    {% endif %}
  </div>
  <div class="list-group list-group-flush">
    {% if not groups and user %}
    <div class="list-group-item">You don't have any groups yet. New groups can be added by clicking plus button above.</div>
    {% endif %}
    {% for group in groups %}
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-start">
        <a href="{{ url_for('group_detail', name=group.name, namespace=group.namespace) }}">
          <strong>{{ group.name }}</strong>
        </a>
        <div class="ml-auto">
          <span class="badge badge-pill badge-default" data-toggle="tooltip" title="{{ group.package_count }} packages in group {{ group.name }}">
            {{ group.package_count }}
          </span>
        </div>
        {% if group.editable %}
        <a class="btn btn-secondary btn-sm" href="{{ url_for('edit_group', name=group.name, namespace=group.namespace) }}">
          <i class="fa fa-pencil"></i>
        </a>
        {% endif %}
        {% if group.namespace %}
        <a class="btn btn-secondary btn-sm" href="{{ url_for('delete_group', name=group.name, namespace=group.namespace) }}">
          <i class="fa fa-trash-o"></i>
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% block subheader %}
<h2>Groups</h2>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    {{ render_groups('Global Groups', 'globe', groups, False) }}
  </div>
  {% if g.user %}
  <div class="col-sm-6">
    {{ render_groups('My Groups', 'star-o', g.user.groups, True) }}
  </div>
  {% endif %}
</div>
{% endblock %}
