{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}

{{ macros.user_rebuilds_description() }}

<div>
    <div class="pageHeader">{{ user.name }}'s rebuild requests</div>
    <table class="data-list">
        <tr class="list-header">
            <th></th>
            <th>
                Timestamp
            </th>
            <th>
                Repo source
            </th>
            <th>
                State
            </th>
        </tr>
        {% for request in requests %}
        <tr>
            <td>
                <a href="{{ url_for('rebuild_request_detail', request_id=request.id) }}">
                    Details
                </a>
            <td>
                {{ request.timestamp | date }}
            </td>
            <td>
                {{ request.repo_source }}
            </td>
            <td>
                {{ request.state }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for('new_rebuild_request') }}" method="GET">
        <button type="submit">New rebuild request</button>
    </form>
</div>
{% endblock %}
