{% macro pagination_row(page, what) %}
<div>
    <span class="paginate">{{ what }} from {{ (page.page - 1) * page.per_page + 1}} to
                           {{ min(page.page * page.per_page, page.total) }} from total
                           {{ page.total }}</span>
    <form class="pageJump">
        Page:
        <select onchange="javascript: window.location = '{{ page_args(page='...') }}';">
            {% for i in range(1, page.page) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
            <option value="{{ page.page }}" selected="selected">{{ page.page }}</option>
            {% for i in range(page.page + 1, page.pages + 1) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
    </form>
</div>
{% endmacro %}
{% macro package_table(packages, page, order, untracked_toggle=True) %}
{% if untracked_toggle %}
{% set untracked = request.args.get('untracked') == '1' %}
<form name="show-untracked" method="get">
    <input type="hidden" name="untracked" value="{{ "10"[untracked] }}"/>
    {% for k, v in request.args.items() if k != 'untracked' %}
    <input type="hidden" name="{{ k }}" value="{{ v }}"/>
    {% endfor %}
    <button type="submit">{% if untracked %}Hide untracked{% else %}Show untracked{% endif %} packages</button>
</form>
{% endif %}
{% if page %}
{{ pagination_row(page, 'Packages') }}
{% endif %}
{% if not auto_tracking %}
<form action="{{ url_for('add_packages') }}" method="post">
{% endif %}
    <input type="hidden" name="next" value="{{ request.url }}"/>
    <table class="data-list">
        <thead>
            <tr class="list-header">
                {{ ordered_column('name', 'Name', order) }}
                {{ ordered_column('state', 'State', order) }}
                {{ ordered_column('running', 'Running', order) }}
                {{ ordered_column('task_id', 'Task ID', order) }}
                {{ ordered_column('started', 'Last build started', order) }}
                {{ ordered_column('current_priority', 'Current priority', order) }}
                {% if not auto_tracking %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>

            {% for package in packages %}
            {% set last_build = package.last_build %}

            <tr class="row-odd pkg-{{ package.state_string }}">
                <td>
                    <a href="{{ url_for('package_detail', name=package.name) }}{{ page_args(clear=True, collection=g.current_collection.name) }}">{{ package.name }}</a>
                </td>
                <td>
                    <div class="hidden">{{ package.state_string }}</div>
                    {% if package.state_string %}
                    <img src="{{ package.state_icon }}"
                    title="{{ package.state_string }}" alt="{{ package.state_string }}"/>
                    {% endif %}
                </td>
                <td>
                    {% if package.has_running_build %}
                    <img src="{{ url_for('static', filename='images/running.png') }}"
                    title="running" alt="running"/>
                    {% endif %}
                </td>
                {% if last_build %}
                <td>
                    <a href="{{ last_build.taskinfo_url }}">
                        {{ last_build.task_id }}
                    </a>
                </td>
                <td>
                    {{ last_build.started | date }}
                </td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
                <td>
                    {{ package.current_priority or ""}}
                </td>
                {% if not auto_tracking %}
                <td>
                    {% if not package.tracked %}
                    <button type="submit" name="names" value="{{ package.name }}">Add to Koschei</button>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% if not auto_tracking %}
</form>
{% endif %}
{% if page %}
{{ pagination_row(page, 'Packages') }}
{% endif %}
{% endmacro %}
{% macro depchange_table(dependency_changes) %}
{% if dependency_changes %}
<tr>
    <th>Dependency changes since last build</th>
    {{ dependency_changes[0] | format_depchange | columnize(css_class="mono") }}
</tr>
{% for change in dependency_changes[1:] %}
<tr>
    <th></th>
    {{ change | format_depchange | columnize(css_class="mono") }}
</tr>
{% endfor %}
{% endif %}
{% endmacro %}
{% macro ordered_column(name, title, current_order) %}
<th>
    {% if name in current_order[:1] %}
    <a href="{{ page_args(order_by=['-' + name.lower()] + current_order) }}">{{ title }}</a>
    <img src="{{ url_for('static', filename='images/gray-triangle-down.gif') }}"
         class="sort" alt="Decending sort"/>
    {% else %}
        <a href="{{ page_args(order_by=[name.lower()] + current_order) }}">{{ title }}</a>
        {% if '-' + name in current_order[:1] %}
        <img src="{{ url_for('static', filename='images/gray-triangle-up.gif') }}"
             class="sort" alt="Ascending sort"/>
        {% endif %}
    {% endif %}
</th>
{% endmacro %}
