{% macro pagination_row(page, what) %}
<div>
    <span class="paginate">{{ what }} from {{ (page.page - 1) * page.per_page + 1}} to
                           {{ min(page.page * page.per_page, page.total) }} from total
                           {{ page.total }}</span>
    <form class="pageJump">
        Page:
        <select onchange="javascript: window.location = '{{ page_args(page='...') }}';">
            {% for i in range(1, page.page) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
            <option value="{{ page.page }}" selected="selected">{{ page.page }}</option>
            {% for i in range(page.page + 1, page.pages + 1) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
    </form>
</div>
{% endmacro %}

{% macro package_table(packages, page, order, collection=None, untracked_toggle=True) %}
{% if untracked_toggle %}
{% set untracked = request.args.get('untracked') == '1' %}
<form name="show-untracked" method="get">
    <input type="hidden" name="untracked" value="{{ "10"[untracked] }}"/>
    {% for k, v in request.args.items() if k != 'untracked' %}
    <input type="hidden" name="{{ k }}" value="{{ v }}"/>
    {% endfor %}
    <button type="submit">{% if untracked %}Hide untracked{% else %}Show untracked{% endif %} packages</button>
</form>
{% endif %}

{{ collection_chooser() }}

{% if page %}
{{ pagination_row(page, 'Packages') }}
{% endif %}
<input type="hidden" name="next" value="{{ request.url }}"/>
<table class="data-list package-table">
    <thead>
        <tr class="list-header">
            {{ ordered_column('name', 'Name', order) }}
            {% if not collection %}
            {% for coll in g.collections %}
            {{ ordered_column('state-' + coll.name, coll.display_name, order, css_class="collection-column") }}
            {% endfor %}
            {% else %}
            {{ ordered_column('state', 'State', order) }}
            {% endif %}
            {{ ordered_column('running', 'Running', order) }}
            {% if collection %}
            {{ ordered_column('task_id', 'Task ID', order) }}
            {{ ordered_column('started', 'Last build started', order) }}
            {{ ordered_column('current_priority', 'Current priority', order) }}
            {% endif %}
            <th>Package groups</th>
        </tr>
    </thead>
    <tbody>

        {% for package in packages %}
        {% set last_build = package.last_build %}
        {% set args = page_args(clear=True, collection=collection.name if collection else None) %}

        <tr class="row-odd">
            <td>
                <a href="{{ url_for('package_detail', name=package.name) }}{{ args }}">{{ package.name }}</a>
            </td>
            {% if collection %}
            <td>
                <div class="hidden">{{ package.state_string }}</div>
                {% if package.state_string %}
                <img src="{{ package.state_icon }}"
                title="{{ package.state_string }}" alt="{{ package.state_string }}"/>
                {% endif %}
            </td>
            {% else %} {# unified view #}
            {% for pkg in package.packages %}
            <td>
                <img src="{{ pkg.state_icon }}"
                title="{{ pkg.state_string }}" alt="{{ pkg.state_string }}"/>
            </td>
            {% endfor %}
            {% endif %}
            <td>
                {% if package.has_running_build %}
                <img src="{{ url_for('static', filename='images/running.png') }}"
                title="running" alt="running"/>
                {% endif %}
            </td>
            {% if collection %}
            {% if last_build %}
            <td>
                <a href="{{ last_build.taskinfo_url }}">
                    {{ last_build.task_id }}
                </a>
            </td>
            <td>
                {{ last_build.started | date }}
            </td>
            {% else %}
            <td colspan="2"></td>
            {% endif %}
            <td>
                {{ package.current_priority or ""}}
            </td>
            {% endif %}
            <td>
                {% for group in package.visible_groups %}
                <a href="{{ url_for('group_detail', name=group.name, namespace=group.namespace )}}{{ args }}">
                    {{ group }}
                </a>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if page %}
{{ pagination_row(page, 'Packages') }}
{% endif %}
{% endmacro %}

{% macro depchange_table(dependency_changes) %}
{% if dependency_changes %}
<tr>
    <th>Dependency changes since last build</th>
    {{ dependency_changes[0] | format_depchange | columnize(css_class="mono") }}
</tr>
{% for change in dependency_changes[1:] %}
<tr>
    <th></th>
    {{ change | format_depchange | columnize(css_class="mono") }}
</tr>
{% endfor %}
{% endif %}
{% endmacro %}

{% macro ordered_column(name, title, current_order, css_class=None) %}
<th {% if css_class %}class="{{ css_class }}"{% endif %}>
    {% if name in current_order[:1] %}
    <a href="{{ page_args(order_by=['-' + name.lower()] + current_order) }}">{{ title }}</a>
    <img src="{{ url_for('static', filename='images/gray-triangle-down.gif') }}"
         class="sort" alt="Descending sort"/>
    {% else %}
        <a href="{{ page_args(order_by=[name.lower()] + current_order) }}">{{ title }}</a>
        {% if '-' + name in current_order[:1] %}
        <img src="{{ url_for('static', filename='images/gray-triangle-up.gif') }}"
             class="sort" alt="Ascending sort"/>
        {% endif %}
    {% endif %}
</th>
{% endmacro %}

{% macro collection_chooser(allow_all=True) %}
<div class="collections">
    <form>
        <label for="collection">Package collection:</label>
        <select name="collection"
            onchange="javascript:
                if (this.value === '_all')
                    window.location = window.location.pathname + '{{ page_args(page=None, collection=None) }}';
                else
                    window.location = '{{ page_args(page=None, collection='...') }}';">
            {% if allow_all %}
            <option value="_all">All collections</option>
            {% endif %}
            {% for collection in g.collections %}
            <option value="{{ collection.name }}"
            {% if collection.id == g.current_collection.id %}selected="selected"{% endif %}>
            {{ collection }}
            </option>
            {% endfor %}
        </select>
    </form>
</div>
{% endmacro %}
