{% extends "base.html" %}
{% block title %}Koschei - new rebuild request{% endblock %}
{% block content %}

<div class="pageHeader">New rebuild request</div>

<form method="post" action="{{ url_for('new_rebuild_request') }}">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td><label for="name">Base package collection: </label></td>
            <td>
                <select name="collection">
                    {% for collection in g.collections %}
                    <option value="{{ collection.name }}">{{ collection }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="yum_repo">Copr repo name (owner/name or just name is you're the owner): </label></td>
            <td>{{ form.copr_name() }}</td>
        </tr>
        <tr>
            <td><label for="description">Description: </label></td>
            <td>{{ form.description(cols=80, rows=4) }}</td>
        </tr>
        <tr>
            <td><label for="description">Max scheduled builds:</label></td>
            <td>{{ form.schedule_count() }}</td>
        </tr>
    </table>
    <div>
        <button type="submit">Submit request</button>
    </div>
</form>

{% endblock content %}
