{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}Koschei - {{ package.name }}{% endblock %}
{% macro next_change(changes) %}
{{ inext(changes, None) | format_depchange | columnize(css_class="mono") }}
{% endmacro %}
{% block content %}
<div class="pageHeader">{{ package.name }}</div>

{{ macros.collection_chooser(allow_all=False) }}

<div class="states-table">
    <h4>State in all collections</h4>
    <table>
        {% for (collection, package) in all_packages  %}
        <tr>
            <td>{{ collection }}</td>
            <td>
                <a href="{{ url_for('package_detail', name=package.name) }}{{
                    page_args(clear=True, collection=collection.name) }}">
                    {{ package.state_icon }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% set editable = "" if g.user else 'disabled="true"' %}
<form method="POST" action="{{ url_for('edit_package', name=package.name) }}">
<input type="hidden" name="collection" value="{{ g.current_collections[0].name }}"/>
<table class="details">
    <tr>
        <th>Package state</th>
        <td colspan="4">
            {{ package.state_icon }}
            {{ package.state_string }}
            {% if package.scheduler_skip_reason %}
            <br>
            Package is not being scheduled
            {% if package.scheduler_skip_reason == Package.SKIPPED_NO_SRPM %}
            because no suitable SRPM was found
            {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Current priority</th>
        <td colspan="4">
            {{ package.current_priority }}
        </td>
    </tr>
    <tr>
        <th>Manual priority</th>
        <td colspan="4">
            <input type="text" name="manual_priority" class="change_input"
            value="{{ package.manual_priority }}" {{ editable | safe }}/>
        </td>
    </tr>
    <tr>
        <th>Static priority</th>
        <td colspan="4">
            {{ package.static_priority }}
        </td>
    </tr>
    <tr>
        <th>Arch override</th>
        <td colspan="4">
            <input type="text" name="arch_override" class="change_input"
            value="{{ package.arch_override or "" }}" {{ editable | safe }}/>
        </td>
    </tr>
    <tr>
        <th>Skip resolution</th>
        <td colspan="4">
            <input type="checkbox" name="skip_resolution" {{ editable | safe }}
            {% if package.skip_resolution %}checked="true"{% endif %}/>
        </td>
    </tr>
    <tr>
        <th>Global package groups</th>
        <td colspan="4">
            {% for group in package.global_groups %}
            <a href="{{ url_for('group_detail', name=group.name) }}">{{ group.name }}</a>
            {% if group.editable %}
            <input type="checkbox" name="group-{{ group.id }}" checked="true"/>
            <input type="hidden" name="group-prev-{{ group.id }}" value="true"/>
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% if g.user %}
    <tr>
        <th>Your package groups</th>
        <td colspan="4">
            {% for group in package.user_groups %}
            <a href="{{ url_for('group_detail', name=group.name, namespace=group.namespace) }}">{{ group.full_name }}</a>
            <input type="checkbox" name="group-{{ group.id }}" checked="true"/>
            <input type="hidden" name="group-prev-{{ group.id }}" value="true"/>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Available package groups</th>
        <td colspan="4">
            {% for group in package.available_groups %}
            <a href="{{ url_for('group_detail', name=group.name, namespace=group.namespace) }}">{{ group.full_name }}</a>
            <input type="checkbox" name="group-{{ group.id }}"/>
            <input type="hidden" name="group-prev-{{ group.id }}" value="false"/>
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    <tr>
        <th>Links</th>
        <td colspan="4">
            {{ generate_links(package) }}
        </td>
    </tr>
    {% if g.current_collections[0].bugzilla_product and g.current_collections[0].bugzilla_version %}
    <tr>
        <th>Bug reports</th>
        <td colspan="4">
            <a href="{{ url_for('bugreport', name=package.name) }}">File new FTBFS bug</a>
        </td>
    </tr>
    {% endif %}
    {% if g.user %}
    <tr>
        <td colspan="4">
            <button type="submit">Submit modifications</button>
        </td>
    </tr>
    {% endif %}

    {{ macros.depchange_table(package.unapplied_changes) }}
</table>

<table class="data-list package-history">
    <thead>
        <tr class="list-header">
            <th>State</th>
            <th>Koji task</th>
            <th>Started</th>
            <th colspan="4">Dependency changes</th>
            <th>Build details</th>
        </tr>
    </thead>
    <tbody>
        {% if is_continuation %}
        <tr><td colspan="8">...</td></tr>
        {% endif %}
        {% for entry in entries %}
        {% if not entry.version %}
        {# is an resolution entry #}
        {% set problems = iter(entry.problems) %}
        {% if entry.resolved %}
        <tr class="resolution-success">
            <td colspan="8">
                Package dependencies resolved successfuly
            </td>
        </tr>
        {% else %}
        <tr class="resolution-failure">
            <td>
                Package resolution failed
            </td>
            <td colspan="7">
                {{ inext(problems, '') }}
            </td>
        </tr>
        {% endif %}
        {% for problem in problems %}
        <tr class="resolution-failure"><td/><td colspan="7">{{ problem }}</td></tr>
        {% endfor %}
        {% else %}
        {# is a build entry #}
        {% set build = entry %}
        {% set row_class = ["odd", "even"][loop.index % 2] + ["", " real"][build.real] %}
        {% set changes = iter(build.dependency_changes) if build.deps_resolved else iter([]) %}
        {% if build.real %}
        <tr class="{{ row_class }}">
            <td></td>
            <td colspan="7" class="real_build_description">
                Real build: <a class="mono" href="{{ secondary_koji_url(package.collection) }}/search?match=&type=build&terms={{ package.name }}-{{ build.version }}-{{ build.release }}">{{ package.name }}-{{ build.version }}-{{ build.release }}</a>
            </td>
        </tr>
        {% endif %}
        <tr class="{{ row_class }}">
            <td><div class="hidden">{{ build.state_string }}</div>
                <img src="{{ url_for('static', filename='images/' ~ build.state_string ~ '.png') }}"
                title="{{ build.state_string }}" alt="{{ build.state_string }}"/></td>
            <td>
                <a href="{{ build.taskinfo_url }}">
                    {{ build.task_id }}
                </a>
            </td>
            <td>
                {{ build.started | date }}
            </td>
            {% if build.deps_resolved %}
            {{ next_change(changes) }}
            {% elif build.deps_resolved is sameas False %}
            <td colspan="4">Dependencies for this build couldn't be processed</td>
            {% else %}
            <td colspan="4">Dependencies for this build weren't processed yet</td>
            {% endif %}
            <td>
                <a href="{{ url_for('build_detail', build_id=build.id) }}">details</a>
            </td>
        </tr>
        {% for subtask in build.build_arch_tasks %}
        <tr class="{{ row_class }}">
            <td>
                <div class="task{{ subtask.state_string }}">{{ subtask.arch }}</div>
            </td>
            <td>
                <a href="{{ subtask.taskinfo_url }}">
                    {{ "├└"[loop.last] }}{{ subtask.task_id }}
                </a>
            </td>
            <td>(
                <a href="{{ subtask.results_url }}/build.log">
                    build.log
                </a>|
                <a href="{{ subtask.results_url }}/root.log">
                    root.log
                </a>
                )</td>
            {{ next_change(changes) }}
            <td>
            </td>
        </tr>
        {% endfor %}
        {% for change in changes %}
        <tr class="{{ row_class }}">
            <td colspan="3"></td>
            {{ change | format_depchange | columnize(css_class="mono") }}
            <td></td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% if not is_last %}
<a href="?last_seen_ts={{ (entries[-1].timestamp or entries[-1].started) | epoch }}">Previous history</a>
{% endif %}

{% endblock %}
