{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}
<div class="pageHeader">{{ package.name }}</div>
{% if package.state_string == 'unresolved' %}
<table class="nested-data-list">
    <tr class="list-header">
        <th>Dependency problems</th>
    </tr>
    {% for problem in package.resolution_result.problems %}
    <tr>
        <td>{{ problem.problem }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if package.unapplied_changes %}
<table class="nested">
    <tr>
        <th colspan="4">Dependency changes since last build</th>
    </tr>
    {{ macros.depchange_table(package.unapplied_changes) }}
</table>
{% endif %}
<table class="nested data-list">
  <thead>
    <tr class="list-header">
        <th>State</th>
        <th>Koji task</th>
        <th>Started</th>
        <th colspan="4">Dependency changes</th>
        <th>Build details</th>
    </tr>
  </thead>
  <tbody>
    {% for build in package.all_builds %}
    {% set seq = ["odd", "even"][loop.index % 2] %}
    {% set changes = iter(build.dependency_changes) %}
    <tr class="{{ seq }}">
        <td><div class="hidden">{{ build.state_string }}</div>
            <img src="{{ url_for('static', filename='images/' ~ build.state_string ~ '.png') }}"
                 title="{{ build.state_string }}" alt="{{ build.state_string }}"/></td>
        <td>
            <a href="{{ koji_weburl }}/taskinfo?taskID={{ build.task_id }}">
                {{ build.task_id }}
            </a>
        </td>
        <td>
            {{ build.started | date }}
        </td>
        {{ next(changes, '') | split_change | columnize }}
        <td>
            <a href="{{ url_for('build_detail', name=package.name, build_id=build.id) }}">details</a>
        </td>
    </tr>
    {% for subtask in build.build_arch_tasks %}
    <tr class="{{ seq }}">
        <td>
            <div class="task{{ subtask.state_string }}">{{ subtask.arch }}</div>
        </td>
        <td>
            <a href="{{ koji_weburl }}/taskinfo?taskID={{ subtask.task_id }}">
                {{ subtask.task_id }}
            </a>
        </td>
        <td>(
            <a href="{{ koji_pathinfo.task(subtask.task_id) }}/build.log">
                build.log
            </a>
            <a href="{{ koji_pathinfo.task(subtask.task_id) }}/root.log">
                root.log
            </a>
        )</td>
        {{ next(changes, '') | split_change | columnize }}
    </tr>
    {% endfor %}
    {% for change in changes %}
    <tr class="{{ seq }}">
        <td colspan="3"/>
        {{ next(changes, '') | split_change | columnize }}
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
