{% extends "base.html" %}
{% import "macros.html" as macros %}

{% macro collapse_btn(items, max, type, id) %}
{% if items|length > max %}
<div class="row">
  <div class="col-sm-2 offset-5 mt-2">
    <a class="btn btn-secondary btn-sm kk-toggle-button"
       data-toggle="collapse" href="#kkid-{{ type }}-{{ id }}" aria-expanded="false">
      <span class="kk-collapsed">
        <i class="fa fa-angle-double-down"></i>
        show {{ items|length - max }} more
        <i class="fa fa-angle-double-down"></i>
      </span>
      <span class="kk-expanded">
        <i class="fa fa-angle-double-up"></i>
        collapse
        <i class="fa fa-angle-double-up"></i>
      </span>
    </a>
  </div>
</div>
{% endif %}
{% endmacro %}

{% block title %}Koschei - {{ base.name }}{% endblock %}
{% block subheader %}
<h2>{{ base.name }}</h2>
{{ macros.collection_chooser(allow_all=False) }}
{% endblock %}

{% block content %}
{% if not package and collection %}
{# collection selected, but package is not in it #}
<div class="error">
    Package doesn't exist in selected collection
    {{ collection }}. Please select a different one.
</div>

{% elif package and collection %}
<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-block">
            <h3 class="card-title">Package information</h3>
            <div class="row mb-2">
              <div class="col-sm-6">State</div>
              <div class="col-sm-6">{{ package.state_icon }} {{ package.state_string }}</div>
            </div>

	    <div class="row">
              {% for (name, url) in generate_links(package)  %}
	      <div class="col-sm-6">
		<a class="card-link" href="{{ url }}">{{ name }}</a>
	      </div>
              {% endfor %}
              {% if collection.bugzilla_product and collection.bugzilla_version %}
	      <div class="col-sm-6">
		<a class="card-link" href="{{ url_for('bugreport', name=package.name, collection=package.collection.name) }}">File new FTBFS bug</a>
	      </div>
              {% endif %}
	    </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-block">
            {% if g.user %}
            <a class="btn btn-secondary btn-sm float-right" href="#kk-scheduling-form"
               data-target="#kk-scheduling-form" data-toggle="collapse">
              <i class="fa fa-cog"></i>
            </a>
            {% endif %}
            <h3 class="card-title">Scheduler parameters</h3>
            {% if package.current_priority is none %}
            Package is currently ineligible for scheduling due to following reasons:
            <ul>
              {% for reason in package.skip_reasons %}
              <li>{{ reason }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
              <div class="col-sm-6">Current priority</div>
              <div class="col-sm-6">{{ package.current_priority|int }}</div>

              <div class="col-sm-6">Manual priority</div>
              <div class="col-sm-6">{{ package.manual_priority }}</div>

              <div class="col-sm-6">Static priority</div>
              <div class="col-sm-6">{{ package.static_priority }}</div>

              <div class="col-sm-6">Arch override</div>
              <div class="col-sm-6">{{ package.arch_override }}</div>

              <div class="col-sm-6">Skip resolution</div>
              <div class="col-sm-6">{{ package.skip_resolution }}</div>
            </div>

            <div class="collapse mt-5" id="kk-scheduling-form">
              <h4 class="card-title">Configure scheduling</h4>
              <form method="post" action="{{ url_for('edit_package', name=package.name) }}">
                {{ form.csrf_token }}
                {{ form.collection_id() }}
                <div class="form-group row">
                  <div class="col-sm-6">Manual priority</div>
                  <div class="col-sm-6">
                    {{ form.manual_priority(class="w-100 form-control") }}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">Skip resolution</div>
                  <div class="col-sm-1">
                    {{ form.skip_resolution(class="form-check") }}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-5">Arch override</div>
                  <div class="col-sm-7">
                    {{ form.arch_override(class="form-control") }}
                  </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="btn-group">
                      <a class="btn btn-secondary" href="#kk-scheduling-form"
                         data-target="#kk-scheduling-form" data-toggle="collapse">Cancel</a>
                      <button class="btn btn-primary" type="submit">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-block">
        <h3 class="card-title">Dependency changes since last build</h3>
        {{ macros.depchange_table(package.unapplied_changes) }}
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card mb-3">
      <div class="card-block">
        <h3 class="card-title">State overview</h3>
        <ul class="list-unstyled">
          {% for (collection, package) in all_packages  %}
          <li>
            <a href="{{ url_for('package_detail', name=package.name) }}{{
               page_args(clear=True, collection=collection.name) }}">
              {{ package.state_icon }} {{ collection }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-block">
        {% if g.user %}
        <a class="btn btn-secondary btn-sm float-right" href="#kk-group-form"
           data-target="#kk-group-form" data-toggle="collapse">
          <i class="fa fa-cog"></i>
        </a>
        {% endif %}
        <h3 class="card-title">Groups</h3>
        <div class="form-group row">
          {% for group in base.global_groups + base.user_groups %}
          <div class="col-sm-12">
            <a href="{{ url_for('group_detail', name=group.name, namespace=group.namespace) }}">{{ group.full_name }}</a>
          </div>
          {% else %}
          <div class="col-sm-12">
            <small>This package is not part of any global group.</small>
          </div>
          {% endfor %}
        </div>

        {% if g.user %}
        <div class="collapse mt-5" id="kk-group-form">
          <h4 class="card-title">Edit group membership</h4>
          <form method="post" action="{{ url_for('edit_package', name=package.name) }}">
            {{ form.csrf_token }}
            {{ form.collection_id() }}
            <div class="form-group row">
              {% for group in base.global_groups + base.user_groups %}
              {% if group.editable %}
              <div class="col-sm-10">
                <a href="{{ url_for('group_detail', name=group.name, namespace=group.namespace) }}">{{ group.full_name }}</a>
              </div>
              <div class="col-sm-2">
                <input type="checkbox" name="group-{{ group.id }}" checked="true"/>
                <input type="hidden" name="group-prev-{{ group.id }}" value="true"/>
              </div>
              {% endif %}
              {% endfor %}
              {% for group in base.available_groups %}
              <div class="col-sm-10">
                <a href="{{ url_for('group_detail', name=group.name, namespace=group.namespace) }}">{{ group.full_name }}</a>
              </div>
              <div class="col-sm-2">
                <input type="checkbox" name="group-{{ group.id }}"/>
                <input type="hidden" name="group-prev-{{ group.id }}" value="false"/>
              </div>
              {% endfor %}
            </div>
            <div class="d-flex flex-row-reverse">
              <div class="btn-group">
                <a class="btn btn-secondary" href="#kk-group-form"
                   data-target="#kk-group-form" data-toggle="collapse">Cancel</a>
                <button class="btn btn-primary" type="submit">Save</button>
              </div>
            </div>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if is_continuation %}
<h3>Historical builds</h3>
{% else %}
<h3>Most recent builds</h3>
{% endif %}

<div class="row">
  <div class="col-sm-12">
    <div class="card mb-3">
      <table class="card-block table table-hover">
        {% for entry in entries %}
        <tr class="{{ entry.css_class }}">
          <td>
            {% if not entry.version %}
            {# is an resolution entry #}
            <div class="row">
              <div class="col-sm-2">{{ entry.timestamp|date }}</div>
              {% if entry.resolved %}
              <div class="col-sm-10">Package dependencies resolved successfuly</div>
              {% else %}
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-3">Package resolution failed</div>
                  <ul class="col-sm-9 list-unstyled">
                    {% for problem in entry.problems[:5] %}
                    <li>{{ problem }}</li>
                    {% endfor %}
                    {% if entry.problems|length > 5 %}
                    <div class="collapse" id="kkid-problems-{{ entry.id }}">
                      {% for problem in entry.problems[5:] %}
                      <li>{{ problem }}</li>
                      {% endfor %}
                    </div>
                    {% endif %}
                  </ul>
                </div>
              </div>
              {% endif %}
            </div>
            {{ collapse_btn(entry.problems, 5, 'problems', entry.id) }}
            {% else %}
            {# is a build entry #}
            {% set build = entry %}
            {% if build.real %}
            <div class="row">
              <div class="col-sm-12">
                Real build:
                <a href="{{ secondary_koji_url(package.collection) }}/search?match=&type=build&terms={{ package.name }}-{{ build.version }}-{{ build.release }}">{{ package.name }}-{{ build.version }}-{{ build.release }}</a>
              </div>
            </div>
            {% endif %}
            <div class="row">
              <div class="col-sm-4">
                {{ macros.task_tree(build, show_time=True, show_details_btn=True, show_logs=True) }}
              </div>
              <div class="col-sm-8">
                {% if build.deps_resolved %}
                {{ macros.depchange_table(build.dependency_changes[:10]) }}
                {% if build.dependency_changes|length > 10 %}
                <div class="collapse" id="kkid-dep-changes-{{ build.id }}">
                  {{ macros.depchange_table(build.dependency_changes[10:]) }}
                </div>
                {% endif %}
                {% elif build.deps_resolved is sameas False %}
                Dependencies for this build couldn't be processed
                {% else %}
                Dependencies for this build weren't processed yet
                {% endif %}
              </div>
            </div>
            {{ collapse_btn(build.dependency_changes, 10, 'dep-changes', build.id) }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
    {% if not is_last %}
    <a class="btn btn-primary float-right" href="?last_seen_ts={{ (entries[-1].timestamp or entries[-1].started) | epoch }}&collection={{ collection.name }}">Previous history</a>
    {% endif %}
  </div>
</div>

{% endblock %}
