{% extends "base.html" %}
{% block title %}Koschei - rebuild request {{ request.id }}{% endblock %}
{% block subheader %}
<h2>Rebuild request #{{ request.id }}</h2>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-block">
        <h3 class="card-title">Request details</h3>
        <div class="row mb-2">
          <div class="col-sm-4">Submitted</div>
          <div class="col-sm-8" data-toggle="tooltip" title="{{ request.timestamp|date }}">
	    {{ request.timestamp|naturaltime }}
	  </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">Submitted by</div>
          <div class="col-sm-8">{{ request.user.name }}</div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">State</div>
          <div class="col-sm-8">{{ request.state }}</div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">Copr project</div>
          <div class="col-sm-8">{{ request.repo_source }}</div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">Collection</div>
          <div class="col-sm-8">{{ request.collection }}</div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-4">Description</div>
          <div class="col-sm-8">{{ request.description }}</div>
        </div>
      </div>
    </div>
  </div>
  {% if request.resolution_changes %}
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-block">
        <h3 class="card-title">Resolution changes</h3>
	<div class="mb-2">
	  <small>
	    These packages change their resolution state.
	  </small>
	</div>
	{% for change in request.resolution_changes %}
        <div class="row">
          <div class="col-sm-9">
	    <a href="{{ url_for('package_detail', name=change.package.name) }}?collection={{ request.collection.name }}">
              {{ change.package.name }}
	    </a>
	  </div>
          <div class="col-sm-3">
	    {{ resolution_state_icon(change.prev_resolved) }}
	    <i class="fa fa-long-arrow-right"></i>
	    {{ resolution_state_icon(change.curr_resolved) }}
	  </div>
        </div>
	{% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% set executed_builds = request.rebuilds | selectattr('state') | list %}
{% set pending_builds = request.rebuilds | selectattr('state', 'none') | list %}

{% if executed_builds %}
<h3>Executed rebuilds</h3>
<table>
  <tr>
    <th>Package</th>
    <th colspan="2">Links</th>
    <th>Previous state</th>
    <th>Current state</th>
  </tr>
  {% for build in executed_builds %}
  <tr {% if build.prev_state == Build.COMPLETE and build.state == Build.COMPLETE %}
      class="kk-copr-rebuild-ok"
      {% elif build.prev_state == Build.FAILED and build.state == Build.COMPLETE %}
      class="kk-copr-rebuild-fixed"
      {% elif build.prev_state == Build.COMPLETE and build.state == Build.FAILED %}
      class="kk-copr-rebuild-broken"
      {% elif build.prev_state == Build.FAILED and build.state == Build.FAILED %}
      class="kk-copr-rebuild-failing"
      {% endif %}
      >
    <td>
      <a href="{{ url_for('package_detail', name=build.package.name) }}?collection={{ request.collection.name }}">
        {{ build.package.name }}
      </a>
    </td>
    <td>
      <a href="{{ copr_frontend_url }}/coprs/{{ copr_owner }}/{{ build.copr_name }}/build/{{ build.copr_build_id }}">
        copr build
      </a>
    </td>
    <td>
      <a href="{{ build_log_url.format(copr_owner=copr_owner,
               copr_chroot=copr_chroot_name, copr_name=build.copr_name,
               build_id=build.copr_build_id, package_name=build.package.name) }}">
        build.log
      </a>
    </td>
    <td>{{ build_state_icon(build.prev_state) }}</td>
    <td>{{ build_state_icon(build.state) }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if pending_builds  %}
<h3>Rebuild queue</h3>
<div>
  By default, koschei schedules only first few builds determined to be most
  likely affected. Remaining builds are marked in grey and won't be
  scheduled. You can override this behaviour by either moving paritcular
  builds to the queue top, or increasing the queue size.
</div>
<table>
  <tr>
    <th>Package name</th>
    <th>Previous state</th>
    <th></th>
  </tr>
  {% for build in pending_builds %}
  <tr {% if build.order >= request.schedule_count %}
    class="kk-copr-rebuild-unschedulable"
    {% endif %}
    >
    <td>
      <a href="{{ url_for('package_detail', name=build.package.name)
         }}?collection={{ request.collection.name }}">
        {{ build.package.name }}
      </a>
    </td>
    <td>{{ build_state_icon(build.prev_state) }}</td>
    <td class="kk-action-column">
      {% if request.editable %}
      <form action="{{ url_for('edit_rebuild') }}" method="POST">
        {{ form.csrf_token }}
        <input type="hidden" name="request_id" value="{{ build.request_id }}"/>
        <input type="hidden" name="package_id" value="{{ build.package_id }}"/>
        <button name="action" value="move-top" type="submit">Move to top</button>
        <button name="action" value="remove" type="submit">Remove</button>
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
