{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}Koschei - {{ user.name }}'s packages{% endblock %}
{% block content %}
<div class="pageHeader">{{ user.name }}'s packages</div>
<form name="show-untracked" action="" method="GET">
    <input type="hidden" name="untracked" value="{{ "10"[untracked] }}"/>
    <button type="submit">{% if untracked %}Hide untracked{% else %}Show untracked{% endif %} packages</button>
</form>
{{ macros.package_table(packages, page, order) }}
<div>
    <form name="force-resync" action="{{ url_for('resync_packages', name=user.name) }}">
        <button type="submit">Force pkgdb resync</button>
    </form>
</div>
{% endblock %}
